openapi: 3.1.0
info:
  contact:
    name: Google
    url: https://google.com
  description: Programmatically create and access your asynchronous coding tasks.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Jules API
  version: v1alpha
servers:
- url: https://jules.googleapis.com/
paths:
  /v1alpha/sessions:
    parameters:
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/prettyPrint'
    get:
      parameters:
      - description: 'Optional. The filter expression for listing sessions based on
          AIP-160. If not set, only non-archived sessions will be returned. Currently
          supports filtering by archived. Example filters: - ''archived = false''
          (default, returns only non-archived sessions) - ''archived = true'' (returns
          only archived sessions) - ''archived = true OR archived = false'' (returns
          all sessions)'
        in: query
        name: filter
        schema:
          type: string
      - description: Optional. The number of sessions to return. Must be between 1
          and 100, inclusive. If unset, defaults to 30. If set to greater than 100,
          it will be coerced to 100.
        in: query
        name: pageSize
        schema:
          type: integer
      - description: Optional. A page token, received from a previous `ListSessions`
          call.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sessions
      description: Lists all sessions.
      operationId: jules.sessions.list
    post:
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Session'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sessions
      description: Creates a new session.
      operationId: jules.sessions.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Session'
  /v1alpha/sources:
    parameters:
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/prettyPrint'
    get:
      parameters:
      - description: 'Optional. The filter expression for listing sources, based on
          AIP-160. If not set, all sources will be returned. Currently only supports
          filtering by name, which can be used to filter by a single source or multiple
          sources separated by OR. Example filters: - ''name=sources/source1 OR name=sources/source2'''
        in: query
        name: filter
        schema:
          type: string
      - description: Optional. The number of sources to return. Must be between 1
          and 100, inclusive. If unset, defaults to 30. If set to greater than 100,
          it will be coerced to 100.
        in: query
        name: pageSize
        schema:
          type: integer
      - description: Optional. A page token, received from a previous `ListSources`
          call.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListSourcesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sources
      description: Lists sources.
      operationId: jules.sources.list
  /v1alpha/{+name}:
    parameters:
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/prettyPrint'
    delete:
      parameters:
      - description: 'Required. The resource name of the session to delete. Format:
          sessions/{session}'
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sessions
      description: Deletes a session.
      operationId: jules.sessions.delete
    get:
      parameters:
      - description: 'Required. The resource name of the source to retrieve. Format:
          sources/{source}'
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Source'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sources
      description: Gets a single source.
      operationId: jules.sources.get
  /v1alpha/{+name}:archive:
    parameters:
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/prettyPrint'
    post:
      parameters:
      - description: 'Required. The resource name of the session to archive. Format:
          sessions/{session}'
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Session'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sessions
      description: Archives a session.
      operationId: jules.sessions.archive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveSessionRequest'
  /v1alpha/{+name}:unarchive:
    parameters:
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/prettyPrint'
    post:
      parameters:
      - description: 'Required. The resource name of the session to unarchive. Format:
          sessions/{session}'
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Session'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sessions
      description: Unarchives a session.
      operationId: jules.sessions.unarchive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnarchiveSessionRequest'
  /v1alpha/{+parent}/activities:
    parameters:
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/prettyPrint'
    get:
      parameters:
      - description: 'Required. The parent session, which owns this collection of
          activities. Format: sessions/{session}'
        in: path
        name: parent
        required: true
        schema:
          type: string
      - description: 'Optional. The filter expression for listing activities. If not
          set, all activities will be returned. Currently only supports filtering
          by create_time. Invalid filter strings will result in an INVALID_ARGUMENT
          error. The OR operator has higher precedence than AND. The expression a
          AND b OR c evaluates to a AND (b OR c). Prefer to use explicit parentheses
          in complex expressions. Example filters: - ''create_time:*'' (matches all
          activities with create_time set) - ''create_time > "2024-09-04T10:00:00Z"''
          - ''create_time > "2024-09-04T10:00:00Z" AND create_time < "2024-09-05T10:00:00Z"''
          - ''create_time < "2024-09-04T10:00:00Z" OR create_time > "2024-09-05T10:00:00Z"'''
        in: query
        name: filter
        schema:
          type: string
      - description: Optional. The number of activities to return. Must be between
          1 and 100, inclusive. If unset, defaults to 50. If set to greater than 100,
          it will be coerced to 100.
        in: query
        name: pageSize
        schema:
          type: integer
      - description: Optional. A page token, received from a previous `ListActivities`
          call.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListActivitiesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sessions
      description: Lists activities for a session.
      operationId: jules.sessions.activities.list
  /v1alpha/{+session}:approvePlan:
    parameters:
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/prettyPrint'
    post:
      parameters:
      - description: 'Required. The resource name of the session to approve the plan
          in. Format: sessions/{session}'
        in: path
        name: session
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApprovePlanResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sessions
      description: Approves a plan in a session.
      operationId: jules.sessions.approvePlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovePlanRequest'
  /v1alpha/{+session}:sendMessage:
    parameters:
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/prettyPrint'
    post:
      parameters:
      - description: 'Required. The resource name of the session to post the message
          to. Format: sessions/{session}'
        in: path
        name: session
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - sessions
      description: Sends a message from the user to a session.
      operationId: jules.sessions.sendMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
        - '1'
        - '2'
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        default: json
        enum:
        - json
        - media
        - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you
        with API access, quota, and reports. Required unless you provide an OAuth
        2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications.
        Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Activity:
      description: An activity is a single unit of work within a session.
      properties:
        agentMessaged:
          $ref: '#/components/schemas/AgentMessaged'
          description: The agent posted a message.
        artifacts:
          description: Output only. The artifacts produced by this activity.
          items:
            $ref: '#/components/schemas/Artifact'
          readOnly: true
          type: array
        createTime:
          description: Output only. The time at which this activity was created.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Output only. A description of this activity.
          readOnly: true
          type: string
        id:
          description: Output only. The id of the activity. This is the same as the
            "{activity}" part of the resource name (e.g., "sessions/{session}/activities/{activity}").
          readOnly: true
          type: string
        name:
          description: Identifier. The full resource name (e.g., "sessions/{session}/activities/{activity}").
          type: string
        originator:
          description: The entity that this activity originated from (e.g. "user",
            "agent", "system").
          type: string
        planApproved:
          $ref: '#/components/schemas/PlanApproved'
          description: A plan was approved.
        planGenerated:
          $ref: '#/components/schemas/PlanGenerated'
          description: A plan was generated.
        progressUpdated:
          $ref: '#/components/schemas/ProgressUpdated'
          description: There was a progress update.
        sessionCompleted:
          $ref: '#/components/schemas/SessionCompleted'
          description: The session was completed.
        sessionFailed:
          $ref: '#/components/schemas/SessionFailed'
          description: The session failed.
        userMessaged:
          $ref: '#/components/schemas/UserMessaged'
          description: The user posted a message.
      type: object
    AgentMessaged:
      description: The agent posted a message.
      properties:
        agentMessage:
          description: The message the agent posted.
          type: string
      type: object
    ApprovePlanRequest:
      description: Request message for the ApprovePlan RPC.
      properties: {}
      type: object
    ApprovePlanResponse:
      description: Response message for the ApprovePlan RPC.
      properties: {}
      type: object
    ArchiveSessionRequest:
      description: Request message for ArchiveSession.
      properties: {}
      type: object
    Artifact:
      description: An artifact is a single unit of data produced by an activity step.
      properties:
        bashOutput:
          $ref: '#/components/schemas/BashOutput'
          description: A bash output was produced.
        changeSet:
          $ref: '#/components/schemas/ChangeSet'
          description: A change set was produced (e.g. code changes).
        media:
          $ref: '#/components/schemas/Media'
          description: A media file was produced (e.g. image, video).
      type: object
    BashOutput:
      description: A bash output.
      properties:
        command:
          description: The bash command.
          type: string
        exitCode:
          description: The bash exit code.
          format: int32
          type: integer
        output:
          description: The bash output. Includes both stdout and stderr.
          type: string
      type: object
    ChangeSet:
      description: A set of changes to be applied to a source.
      properties:
        gitPatch:
          $ref: '#/components/schemas/GitPatch'
          description: A patch in Git format.
        source:
          description: 'The name of the source this change set applies to. Format:
            sources/{source}'
          type: string
      type: object
    Empty:
      description: 'A generic empty message that you can re-use to avoid defining
        duplicated empty messages in your APIs. A typical example is to use it as
        the request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }'
      properties: {}
      type: object
    GitHubBranch:
      description: A GitHub branch.
      properties:
        displayName:
          description: The name of the GitHub branch.
          type: string
      type: object
    GitHubRepo:
      description: A GitHub repo.
      properties:
        branches:
          description: The list of active branches for this repo.
          items:
            $ref: '#/components/schemas/GitHubBranch'
          type: array
        defaultBranch:
          $ref: '#/components/schemas/GitHubBranch'
          description: The default branch for this repo.
        isPrivate:
          description: Whether this repo is private.
          type: boolean
        owner:
          description: The owner of the repo; the `` in `https://github.com//`.
          type: string
        repo:
          description: The name of the repo; the `` in `https://github.com//`.
          type: string
      type: object
    GitHubRepoContext:
      description: Context to use a GitHubRepo in a session.
      properties:
        startingBranch:
          description: Required. The name of the branch to start the session from.
          type: string
      type: object
    GitPatch:
      description: A patch in Git format.
      properties:
        baseCommitId:
          description: The base commit id of the patch. This is the id of the commit
            that the patch should be applied to.
          type: string
        suggestedCommitMessage:
          description: A suggested commit message for the patch, if one is generated.
          type: string
        unidiffPatch:
          description: The patch in unidiff format.
          type: string
      type: object
    ListActivitiesResponse:
      description: Response message for the ListActivities RPC.
      properties:
        activities:
          description: The activities from the specified session.
          items:
            $ref: '#/components/schemas/Activity'
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the
            next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    ListSessionsResponse:
      description: Response message for ListSessions.
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the
            next page. If this field is omitted, there are no subsequent pages.
          type: string
        sessions:
          description: The sessions from the specified request.
          items:
            $ref: '#/components/schemas/Session'
          type: array
      type: object
    ListSourcesResponse:
      description: Response message for the ListSources RPC.
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the
            next page. If this field is omitted, there are no subsequent pages.
          type: string
        sources:
          description: The sources from the specified request.
          items:
            $ref: '#/components/schemas/Source'
          type: array
      type: object
    Media:
      description: A media output.
      properties:
        data:
          description: The media data.
          format: byte
          type: string
        mimeType:
          description: The media mime type.
          type: string
      type: object
    Plan:
      description: A plan is a sequence of steps that the agent will take to complete
        the task.
      properties:
        createTime:
          description: Output only. Time when the plan was created.
          format: google-datetime
          readOnly: true
          type: string
        id:
          description: Output only. ID for this plan; unique within a session.
          readOnly: true
          type: string
        steps:
          description: Output only. The steps in the plan.
          items:
            $ref: '#/components/schemas/PlanStep'
          readOnly: true
          type: array
      type: object
    PlanApproved:
      description: A plan was approved.
      properties:
        planId:
          description: The ID of the plan that was approved.
          type: string
      type: object
    PlanGenerated:
      description: A plan was generated.
      properties:
        plan:
          $ref: '#/components/schemas/Plan'
          description: The plan that was generated.
      type: object
    PlanStep:
      description: A step in a plan.
      properties:
        description:
          description: Output only. The description of the step.
          readOnly: true
          type: string
        id:
          description: Output only. ID for this step; unique within a plan.
          readOnly: true
          type: string
        index:
          description: Output only. 0-based index into the plan.steps.
          format: int32
          readOnly: true
          type: integer
        title:
          description: Output only. The title of the step.
          readOnly: true
          type: string
      type: object
    ProgressUpdated:
      description: There was a progress update.
      properties:
        description:
          description: The description of the progress update.
          type: string
        title:
          description: The title of the progress update.
          type: string
      type: object
    PullRequest:
      description: A pull request.
      properties:
        baseRef:
          description: The base branch name of the pull request (e.g., "main").
          type: string
        description:
          description: The description of the pull request.
          type: string
        headRef:
          description: The head branch name of the pull request (e.g., "feature-x").
          type: string
        title:
          description: The title of the pull request.
          type: string
        url:
          description: The URL of the pull request.
          type: string
      type: object
    SendMessageRequest:
      description: Request message for the SendMessage RPC.
      properties:
        prompt:
          description: Required. The user prompt to send to the session.
          type: string
      type: object
    SendMessageResponse:
      description: Response message for the SendMessage RPC.
      properties: {}
      type: object
    Session:
      description: 'next_id: 19 A session is a contiguous amount of work within the
        same context.'
      properties:
        archived:
          description: Output only. Whether the session is archived.
          readOnly: true
          type: boolean
        automationMode:
          description: Optional. Input only. The automation mode of the session. If
            not set, the default automation mode will be used.
          enum:
          - AUTOMATION_MODE_UNSPECIFIED
          - AUTO_CREATE_PR
          type: string
        createTime:
          description: Output only. The time the session was created.
          format: google-datetime
          readOnly: true
          type: string
        id:
          description: Output only. The id of the session. This is the same as the
            "{session}" part of the resource name (e.g., "sessions/{session}").
          readOnly: true
          type: string
        name:
          description: Output only. Identifier. The full resource name (e.g., "sessions/{session}").
          readOnly: true
          type: string
        outputs:
          description: Output only. The outputs of the session, if any.
          items:
            $ref: '#/components/schemas/SessionOutput'
          readOnly: true
          type: array
        prompt:
          description: Required. The prompt to start the session with.
          type: string
        requirePlanApproval:
          description: Optional. Input only. If true, plans the agent generates will
            require explicit plan approval before the agent starts working. If not
            set, plans will be auto-approved.
          type: boolean
        sourceContext:
          $ref: '#/components/schemas/SourceContext'
          description: Optional. The source to use in this session, with additional
            context. If not provided, Jules will start from scratch.
        state:
          description: Output only. The state of the session.
          enum:
          - STATE_UNSPECIFIED
          - QUEUED
          - PLANNING
          - AWAITING_PLAN_APPROVAL
          - AWAITING_USER_FEEDBACK
          - IN_PROGRESS
          - PAUSED
          - FAILED
          - COMPLETED
          enumDeprecated:
          - false
          - false
          - true
          - false
          - false
          - false
          - false
          - false
          - false
          readOnly: true
          type: string
        title:
          description: Optional. If not provided, the system will generate one.
          type: string
        updateTime:
          description: Output only. The time the session was last updated.
          format: google-datetime
          readOnly: true
          type: string
        url:
          description: Output only. The URL of the session to view the session in
            the Jules web app.
          readOnly: true
          type: string
      type: object
    SessionCompleted:
      description: The session was completed.
      properties: {}
      type: object
    SessionFailed:
      description: The session failed.
      properties:
        reason:
          description: The reason the session failed.
          type: string
      type: object
    SessionOutput:
      description: An output of a session.
      properties:
        changeSet:
          $ref: '#/components/schemas/ChangeSet'
          description: A change set created by the session, if applicable.
        pullRequest:
          $ref: '#/components/schemas/PullRequest'
          description: A pull request created by the session, if applicable.
      type: object
    Source:
      description: An input source of data for a session.
      properties:
        githubRepo:
          $ref: '#/components/schemas/GitHubRepo'
          description: A GitHub repo.
        id:
          description: Output only. The id of the source. This is the same as the
            "{source}" part of the resource name (e.g., "sources/{source}").
          readOnly: true
          type: string
        name:
          description: Identifier. The full resource name (e.g., "sources/{source}").
          type: string
      type: object
    SourceContext:
      description: Context for how to use a source in a session.
      properties:
        environmentVariablesEnabled:
          description: Optional. Enables environment variables in the session. If
            true, the session will use environment variables configured for this source.
          type: boolean
        githubRepoContext:
          $ref: '#/components/schemas/GitHubRepoContext'
          description: Context to use a GitHubRepo in a session.
        source:
          description: 'Required. The name of the source this context is for. To get
            the list of sources, use the ListSources API. Format: sources/{source}'
          type: string
        workingBranch:
          description: Optional. The branch to push to for the session. Only used
            if the session is set to automatically create a branch through automation
            mode. If not provided, a branch name will be generated when needed.
          type: string
      type: object
    UnarchiveSessionRequest:
      description: Request message for UnarchiveSession.
      properties: {}
      type: object
    UserMessaged:
      description: The user posted a message.
      properties:
        userMessage:
          description: The message the user posted.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure,
              and delete your Google Cloud data and see the email address for your
              Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 accessCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure,
              and delete your Google Cloud data and see the email address for your
              Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
tags:
- name: sessions
- name: sources
externalDocs:
  url: https://jules.google.com
